.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 25px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  background-color: whitesmoke;
  &__input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid red;
    font-size: 20px;
  }
  &__list {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
    width: 100%;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
