.header {
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  &__to {
    color: dodgerblue;
  }
  &__do {
    color: red;
  }
  &__theme {
    padding: 12px;
    margin-left: 50px;
    border-radius: 15px;
    background-color: blanchedalmond;
  }
}
